@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style */
body {
    font-family: "Catamaran", sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
    color: #333;
    flex-direction: column;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

header a {
    color: #444;
    text-decoration: none;
}

#logo {
    font-size: 140%;
    border: 2px solid #fff;
    color: rgb(9, 127, 127);
}

header ul a:hover {
    color: rgb(9, 127, 127);
    font-size: 1.3rem;
}

header ul {
    list-style: none;
}

