@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: "Catamaran", sans-serif;
}

#game-container {
    position: relative;
    width: 80%;
    height: 80vh;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
}

#fly {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('../images/fly.png');
    background-size: cover;
    cursor: pointer;
}